body {
    text-align: center;
    background: url('../css/bg.jpg') no-repeat;
    background-size: 1500px 1000px;
}

div {
    color: black;
    font-size: 100px;
}

body>div:nth-child(1) {
    margin-bottom: 100px;
}

a {
    font-size: 100px;
}